{
  parser: "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  plugins: ["react", "jsx-a11y", "import", "react-hooks"],
  "env": {
    "es6": true
  },
  "globals": {
    "document": "readonly",
    "localStorage": "readonly",
    "console": "readonly",
    "fetch": "readonly",
    "FormData": "readonly",
    "Request": "readonly"
  },
  "rules": {
    "no-unused-vars": 0,
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "prop-types": 0, //[2]
    "no-console": 0,
    "no-debugger": 0
  }
}